header {
  background-color: white;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px center; <!-- https://developer.mozilla.org/es/docs/Web/CSS/background-position -->
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  top: 0;
  left: 0;
  position: fixed;
}
